@import "tailwindcss";

:root {
    --font-english: var(--font-roboto);
    --font-thai: var(--font-noto-sans-thai);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-english), var(--font-thai), sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}
